.css-1i8sge0-MuiButtonBase-root-MuiFab-root {
    display: none;
}

.css-f9dckj-MuiStack-root {
    display: none;
}


.css-1vkmmdj-MuiPaper-root-MuiCard-root {
    display: none;
}

/* divider */
/* .css-1486h2m-MuiDivider-root {
    display: none;
} */

.css-h4y409-MuiList-root {
    padding-top: 0px;
    padding-bottom: 0px;
}